*{
    background-color: lightgray;
}
.header-content{
    position:absolute;
    /* border: 2px solid black; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center; 
    background-color:lightgrey;
    width: 800px;
       
}
.header-content1{
  position:absolute;
  /* border: 2px solid black; */
  top:120%;
  left:86%;
  transform: translate(-120%,-86%);
  text-align: center; 
  background-color:lightgrey;
  width: 800px;
}
.header-content1{
  color: purple;
  background-color: lightgrey;
  font-style: italic;
  font-weight: bold;


}
.header-content2{
  position:absolute;
  /* border: 2px solid black; */
  top:150%;
  left:102%;
  transform: translate(-150%,-102%);
  text-align: center; 
  background-color:lightgrey;
  width: 800px;
}
.header-content2{
  color: purple;
  background-color: lightgrey;
  font-style: italic;
  font-weight: bold;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;

}
.header-content h4 {
    font-style: italic;
  }
.header-content3{
      /* border: 1px solid black; */
      text-align: center;
      background-color: white;

  }
  .header-content4{
     display: inline-block;
  }
  .navbar{
    background-color: gray;
  }
  .btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
  .btn-primary{
    background-color:darkviolet;
    border-radius: 100px;
    /* border-radius: 10em; */
  }
  .navbar{
    padding: 1rem;
}
.navbar .logo{
   float: left;
   font-size: 3.5rem;

}
.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.header-content5{
  color: purple;
  background-color: lightgrey;
  font-style: italic;
  font-weight: bold;
}
.footer{
  text-align:center;
  color: white;
  
}
.footer2{
  text-align: center;
  color: white; 

}
.partner{
  text-align: center;
}

.lang-image{
  display: flex;
  justify-content: center;
}